/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 Aug 2020, 14:42:01
    Author     : tom
*/

#sidebar {
    float: left;
    width: 15%;
    background: #7daefd;
    height: 100%;
    position:fixed;
    overflow-x: hidden;
    padding-top: 20px;
}

#sidebar a {
    text-decoration: none;
    padding: 6px 8px 6px 16px;
    font-size: 20px;
    color: white;
    display: block;
}

#sidebar a:hover {
    background: lightblue;
    opacity: 50%;
}

